<div class="section">
    <h1>Citados de Hoy</h1>
    <div class="cont-tabla-registros">
        <table>
            <thead>
                <tr>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>NOMBRE</th>
                    <th>EDAD</th>
                    <th>TIPO CONSULTA</th>
                    <th>REG. ATENCIÓN/PROC</th>
                    <th>REG. PAGO</th>
                    <th>ANULAR</th>
                </tr>
            </thead>
            <tbody id="tbatenciones" class="tblistado">
                <!-- Ajax-->
                <tr>
                    <td>FECHA</td>
                    <td>HORA</td>
                    <td>NOMBRE</td>
                    <td>EDAD</td>
                    <td>TIPO CONSULTA</td>
                    <td><i class="fa-solid fa-comment-dots icon-blue add-atention"></i></td>
                    <td><i class="fa-solid fa-hand-holding-dollar icon-green add-pago"></i></td>
                    <td><i class="fa-solid fa-ban icon-red anular-cita"></i></td>
                </tr>
                <tr>
                    <td>FECHA</td>
                    <td>HORA</td>
                    <td>NOMBRE</td>
                    <td>EDAD</td>
                    <td>TIPO CONSULTA</td>
                    <td><i class="fa-solid fa-heart-circle-plus icon-red add-procedure"></i></td>
                    <td><i class="fa-solid fa-hand-holding-dollar icon-gray"></i></td>
                    <td><i class="fa-solid fa-ban icon-red anular-cita"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
</script>