<div class="section">
    
    <div class="cont-tabla-registros">
        
        <div class="header-tabla">
            <h1>Pacientes</h1>
            <a id="BtnAddPaciente" href="javascript:void(0)">
                <i class="fa-solid fa-user-plus"></i>
                <p>Agregar</p>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>N° DOC / HC</th>
                    <th>NOMBRE</th>
                    <th>EDAD</th>
                    <th>TELÉFONO</th>
                    <th>SEXO</th>
                    <th>VER HISTORIA</th>
                    <th>ADJUNTAR ARCHIVO</th>
                </tr>
            </thead>
            <tbody id="tbpacientes" class="tblistado">
                <tr>
                    <td>N° DOC / HC</td>
                    <td>NOMBRE</td>
                    <td>EDAD</td>
                    <td>TELÉFONO</td>
                    <td>SEXO</td>
                    <td><i class="fa-solid fa-hospital-user icon-green"></i></td>
                    <td><i class="fa-solid fa-file-medical icon-blue"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>