<div class="section">
    <div class="cont-tabla-registros">
        <div class="header-tabla">
            <h1>Profesionales</h1>
            <a id="BtnAddProfesional" href="javascript:void(0)">
                <i class="fa-solid fa-user-plus"></i>
                <p>Agregar</p>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>N° DOC</th>
                    <th>COLEGIATURA</th>
                    <th>TELÉFONO</th>
                    <th>EMAIL</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody id="tbprofesionales" class="tblistado">
                <!-- Ajax-->
            </tbody>
        </table>
    </div>
</div>
<script>
    ListarProfesionales();
</script>