<div class="section">
    <h1>Reportes</h1>
    <div class="cont-tabla-registros">
        <div class="header-tabla">
            <div class="cont-leyenda cont-flex controls-report">
                <input type="date" name="fechaRep1" id="fechaRep1">
                <input type="date" name="fechaRep2" id="fechaRep2">
            </div>
            <a id="BtnImprimirReporte" href="javascript:void(0)" onclick="generarPDF()">
                <i class="fa-regular fa-file-pdf"></i>
                <p>Exportar PDF</p>
            </a>
        </div>
    </div>
</div>
