<div class="section">
    <div class="cont-tabla-registros">
        <div class="header-tabla">
            <h1>Servicios</h1>
            <a id="BtnAddServicio" href="javascript:void(0)">
                <i class="fa-solid fa-user-plus"></i>
                <p>Agregar</p>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>IDPROC</th>
                    <th>NOMBRE</th>
                    <th>PRECIO</th>
                    <th>EDITAR</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody id="tbservicios" class="tblistado">
                <tr>
                    <td>IDPROC</td>
                    <td>NOMBRE</td>
                    <td>PRECIO</td>
                    <td><i class="fa-solid fa-file-pen icon-blue"></i></td>
                    <td><i class="fa-solid fa-toggle-on icon-green"></i></td>
                </tr>
                <tr>
                    <td>IDPROC</td>
                    <td>NOMBRE</td>
                    <td>PRECIO</td>
                    <td><i class="fa-solid fa-file-pen icon-blue"></i></td>
                    <td><i class="fa-solid fa-toggle-off icon-gray"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>